.carousel-container {
  position: relative;
}

.custom-dot-list-style {
  position: absolute;
  bottom: -5px;
  width: 100%;
  display: flex;
  justify-content: center;
 
}

.carousel-item-padding-40-px {
  padding: 10px;
}
