.carousel-container .react-multi-carousel-dot-list {
  position: relative;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

.carousel-container .react-multi-carousel-dot button {
  border: none;
  background: #ccc;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  
  margin: 10px;
}

.carousel-container .react-multi-carousel-dot--active button {
  background: #000;
}



.align-left {
  align-self: flex-start;
}

/* second crouu */

