.main-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.child-div{
  padding: 20px;
  background-color: black;
 max-width: 350px;
  width: 100vw;
  font-size: small;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  
}
.input{
  border-radius: 15px;
  width: 100%;
  background-color: #515151;
  padding: 10px;
  padding-left: 10px;
  border: 2px solid black;
}
